<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Video Comment Scraper and sentiment analyser</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
    <form method="post" action="/scrap">

        <br/>
        <label>Paste your youtube video url</label><br>
        <input type="text" name="youtube url"><br><br>



        <input type="submit" value="Scrap" id="scrap_button" onclick="$('#loading').show();"><br><br>

    </form>

    <br>
    {% if after_complete_message %}
    <span class="res_mes">Result:</span>{{ result }}<br/>
    <img src= "{{url_for('static', filename='/Image/bar_image.png')}}" >
    <img src= "{{url_for('static', filename='/Image/pie_image.png')}}" >
    {% endif %}
    <br>
</body>
</html>